* Linux Client Example */

object Zone "{{ hostvars[item][fqdn_attr] }}" {
  endpoints = [ "{{ hostvars[item][fqdn_attr] }}" ]
  parent = ZoneName
}

object Endpoint "{{ hostvars[item][fqdn_attr] }}" {
  host = "{{ hostvars[item][fqdn_attr] }}"
}

object Host "{{ hostvars[item][fqdn_attr] }}" {
  import "generic-linux-host"
  {% if hostvars[item]['ami_Name'] is defined %}
  vars.ami_name = "{{ hostvars[item]['ami_Name'].split('-')[1] }}"
  {% endif %}
  {% if hostvars[item]['ami_Company'] is defined %}
  vars.customer = "{{ hostvars[item]['ami_Company'] }}"
  {% endif %}
  address = "{{ hostvars[item][fqdn_attr] }}"
}
